body {
    background-color: #ff6f00;
    font-family: sans-serif;
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.navigation a:hover {
 color: #3772bf;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: #fff;
}
.header nav {
  background-color: #001489;
}
.header .logo {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.icons {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header ul {
    margin-top: 20px;
}

.header li {
  margin: 0 22px 0px 0;
    font-size: 16px;
    font-family: sans-serif;
}

.header li a{
  font-weight: 700;
   color: #dedede;
   text-align: center;
   text-transform: uppercase;
}
.vertical-line {
    border-right: 1px solid #3965b4;
    height: 40px;
    margin-top: 17px!important;
}
#triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    top: -9px;
    margin-left: 368px;
  }
  .dropdown-menu{
    width: 95%;
    top: 151px;
    left: 0;
    margin-left: 40px;
}
  
  .right-side ul {

    display: flex;
    list-style-type: none;
    padding: 10px;
    margin-left: 33px;
    margin-right: 27px;

  }
  

  .right-side ul li {
    margin: 0 10px 10px 0;
  }

  .right-side ul li i{
    
    color: #0000af;
    font-size: 18px;
    margin-left: 9px;

  }

  .sc-box {
    background: transparent url(../assets/white_curve.svg) scroll no-repeat center center;
    margin-top: -66px;
    /* border-radius: 0 0 20px 20px; */
    margin-left: -70px;
    /* margin-right: 24px; */
    width: 242px;
    height: 55px;
    align-items: flex-start;
    padding-top: var(--size-8);
  }


  .search-box{
    top: 69%;
    left: 92%;
    height:40px;
    transform: translate(-50%, -50%);
    position:absolute;
    display: flex;
    background-color: #ff6f00;
    border-radius: 18px
  }
  
  .search-box button{
    width: 40px;
    height:40px ;
    border-radius: 50%;
    border:none;
    color: #ffffff;
    background: #ff6f00;
  }
  
  .search-box input{
    border:none;
    outline:0px;
    padding: 0px 0px;
    background-color:transparent;
    border-radius: 18px;
    color:#fff;
    font-size: 20px;
    width: 0px;
    box-sizing: border-box;
    transition: .3s;
  }
  
  .search-box button:hover{
     cursor: pointer;
  }
  
  .search-box:hover .text{
    width:150px;
    padding: 10px 20px;
    font-size: 10px;
    margin-right: 19px;
  }

  ::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
  }

  .megamenu {
    /* padding: 30px 1px 20px 159px;
    margin-left: 50px; */
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .megamenu-options {
    
    display: inline-grid;
   
  }
  .megamenu-options img {
    height: 90px;
    width: 258px;
    margin-left: 16px;
    object-fit: contain;

  }
  .megamenu-options p {
    color: #000;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
  }

  h3 {
    font-size: 18px;
    color: #0000af;
    font-weight: 800;
  }

  a {
    text-decoration: none;
  }
  .toggle-btn {
    position: relative;
    display: block;
    color: white;
    width: 300px;
    /* padding: 10px; */
    text-decoration: none;
  }
  
  .arrow {
    position: absolute;
    top: 30px;
    right: -70px;
}
  
  .arrow::before,
  .arrow::after {
    position: relative;
    content: '';
    display: block;
    width: 10px;
    
    background: white;
    transition: 0.3s ease-in-out;
  }
  
  .arrow::before {
    transform: rotate(45deg);
    height: 2px;
  }
  
  .arrow::after {
    left: 6px;
    top: -1px;
    height: 2px;
    transform: rotate(-45deg);
  }
  
  .toggle-btn.active .arrow::before {
    transform: rotate(-45deg);
  }
  
  .toggle-btn.active .arrow::after {
    transform: rotate(45deg);
  }

  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #52a0da;
  }
  hr {
    margin: 0;
    background-color: #ffffff;
    height: 2px;
  }
  @media(max-width:990px){ 

    .Desktop {
      display: none;
    }
    /* .header li {

        border-bottom: 1px solid rgba(255,255,255,0.23);
    } */
    .dropdown-menu {
      height: auto;
      width: 106%;
      margin-left: 0px;
    }
    .megamenu-options {
      margin-left: -71px;
    }
    .icons {
      margin-left: 0;
      margin-right: 20px;
      margin-top: -4px;
    }
    .header li a {
      display: flex;
    }
    /* .megamenu-options p {
      margin-left: -90px;
    } */
    .header li .megamenu-options {
      display: block;
    }
    .megamenu-options img {
    margin-left: 57px;

    }
    .vertical-line {
      display: none;
    }
    .dropdown-toggle::after {
      /* margin-left: 11.255em;
      font-size: 20px; */
      display: none;
    }
    .nav-link:focus, .nav-link:hover {
      color:#fff;
    }
    .header li a {
     text-align: initial;
     padding-top: 24px;
     padding-bottom: 24px;
    }
    .sc-box {
      background: #f0f8ff00;
      margin-bottom: 12px;
    }
    .right-side ul li i {
      color: #ffffff;
      font-size: 40px;
      margin-left: 23px;
    }
    .right-side ul {
          margin-left: 83px;
      margin-top: 88px!important;
    }
    .search-box {
      position: static;
      margin-right: -180px;
      margin-top: 33px;
    }
    .megamenu {
      padding-left: 83px;
    }
    .megamenu-options h3 {
      text-align: center;
    /* margin-left: -80px; */
    }
    .search-box:hover .text {
      width: 50px;
    padding: 7px 6px;
    font-size: 10px;
    margin-right: 19px;
    }
  }
  
  @media(min-width:990px){  
    .mobile {
      display: none;
    }
    .dropdown-toggle::after {
      display: none;
    }
  }
 /* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .arrow {
      right: -420px;
    }
    .megamenu-options img {
      height: 90px;
      width: 168px;
    }
    .megamenu-options h3 {
      font-size: 14px;
    }
    .dropdown-menu {
      width: 103%;
    }
    
  }